name: Ping Render Server

on:
  schedule:
    - cron: "*/10 * * * *"   # every 10 minutes
  workflow_dispatch:        # allows manual run

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping server
        run: |
          curl -s -o /dev/null -w "%{http_code}\n" https://confession-backend-ksre.onrender.com/api/health
